<br />
<h1>Gestion des praticiens</h1>
<br /><br />

    <div class="scroll container-fluid">

      <!-- champs pour filtre le tableau -->
      <mat-form-field>
        <mat-label>Recherche</mat-label>
        <input matInput (keyup)="applyFilter($event)" />
      </mat-form-field>

      <!-- tableau praticiens -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!-- Nom Column -->
        <ng-container matColumnDef="Nom">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.nom_visiteur}} </td>
        </ng-container>
    
        <!-- Prenom Column -->
        <ng-container matColumnDef="Prenom">
          <th mat-header-cell *matHeaderCellDef> Prenom </th>
          <td mat-cell *matCellDef="let element"> {{element.prenom_visiteur}} </td>
        </ng-container>

        <!-- Laboratoire Column -->
        <ng-container matColumnDef="Laboratoire">
          <th mat-header-cell *matHeaderCellDef> Laboratoire </th>
          <td mat-cell *matCellDef="let element"> {{element.nom_laboratoire}} </td>
        </ng-container>
    
        <!-- Ajouter Column -->
        <ng-container matColumnDef="Ajouter">
          <th mat-header-cell *matHeaderCellDef> Ajouter </th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>